.testimonies {
  padding: 4.75rem 0;
  max-width: 60rem;
}

.sponsors {
  padding: 7.25rem 0;
  max-width: 68rem;
  margin-top: 5rem;
}

.anchor {
  position: relative;
}

%assets {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0;
  margin: 0;
}

.submarine {
  @extend %assets;
  margin: auto 0 auto auto;
  top: calc(-100% + 2rem);
  right: -12rem;
  height: 16rem;
  width: auto;
}

.cs {
  @extend %assets;
  width: auto;
  height: 100%;
  position: relative;
}

.shark {
  @extend %assets;
  height: auto;
  width: 22rem;
  top: -10rem;
  left: -18rem;
  animation: sharkMove 30s infinite;
}

@keyframes sharkMove {
  0% {
    transform: translateX(0vw);
  }
  49.99999999999999% {
    transform: translateX(80vw);
  }
  50% {
    transform: scaleX(-1) translateX(-80vw);
  }
  100% {
    transform: scaleX(-1) translateX(0vw);
  }
}

.turtle {
  @extend %assets;
  margin: auto -15rem 0 auto;
  left: 7.5rem;
  animation: turtleMove 120s infinite;
}

@keyframes turtleMove {
  0% {
    transform: translateX(0vw);
  }
  49.99999999999999% {
    transform: translateX(-80vw);
  }
  50% {
    transform: scaleX(-1) translateX(80vw);
  }
  100% {
    transform: scaleX(-1) translateX(0vw);
  }
}

.turtleBob {
  @extend %assets;
  animation: turtleBob 8s infinite;
}

@keyframes turtleBob {
  0%{
		transform: rotate(3deg);
	}

	50%{
		transform: rotate(-2deg);
	}

	100%{
		transform: rotate(3deg);
	}
}


.container {
  margin-right: auto;
  position: relative;
  padding: 12rem 0;
  z-index: 1;
}

