@use '@/styles/mixins';
@use '@/styles/colors';

.container {
  @include mixins.transition(background-color box-shadow);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
}

.scrolled {
  background-color: colors.getColor("primary", 50);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.nav {
  padding: mixins.spacing(x-big) 0;
}

.banner {
  margin: -1 * mixins.spacing(x-big) 0 auto;
  overflow-y: visible;
  position: relative;
  top: -1px;
  height: 1px;
}

@include mixins.media(tablet) {
  .links {
    @include mixins.transition(backdrop-filter opacity);
    pointer-events: none;
    opacity: 0;

    inset: 0;
    margin: 0;
    position: fixed;

    flex-direction: column;
    justify-content: center;
    gap: mixins.spacing(m) !important;
    z-index: 3;

    padding: mixins.spacing(lg);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .link {
    font-size: 2rem;
    padding: 2rem;
  }

  .show {
    backdrop-filter: blur(1rem);
    pointer-events: all;
    opacity: 1;
  }

  .content {
    gap: mixins.spacing(big);
  }
}

.menu {
  display: none !important;
  @include mixins.media(tablet) {
    display: flex !important;
  }
}
