{
  "singleQuote": true,
  "trailingComma": "all",
  "experimentalTernaries": true,
  "importOrder": ["react*", "next*", "<THIRD_PARTY_MODULES>", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
