@use '../../../styles/colors';
@use '../../../styles/mixins';

.contact {
    padding: 5.4375rem 0 5.75rem 0;
    position: relative;
    overflow:visible;

    .bg{
        width: 100vw !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        object-fit: cover !important;
    }

    .bgBackground{
        z-index: 0;
    }

    .bgForeground{
        z-index: 2;
    }
    
    .contactRow{
        padding-bottom: 7.6875rem;
        .emailForm{
            flex-grow: 1;
            max-width: 50%;
            padding-bottom: 16.1875rem;

            &, & > * {
                z-index: 3;
            }

            .highlight{
                color: colors.getColor(warning, 400);
            }

            .contactFields{
                max-width: 35.125rem;

                .contactFirstRow *{
                    flex-grow: 1;
                }

                .contactSubmit {
                    flex-grow: 0;
                    width: fit-content;
                    padding: 0.75rem 3.125rem;
                }
            }
        }

        .shipColumn{
            flex-grow: 1;
            max-width: 50%;
            position: relative;
            z-index: 1;
        }
    }   


    .footer {
        padding: 0.75rem 0;
        
        & > * {
          z-index: 3;
          width: 50%;  
        }

        .copyright {
            padding-top: 0.25rem;
        }

        .socials {
            padding: 0 1.5rem;
            a {
                padding: 0.125rem;
                svg{
                    font-size: 1.25rem;
                }
            }
        }
    }
}
