.contact {
    padding: 5.4375rem 0;
    position: relative;
    overflow:visible;

    .bg{
        width: 100vw !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        object-fit: cover !important;
    }

    .bgBackground{
        z-index: 0;
    }

    .emailForm{
        width: 50%;
    }

    .shipColumn{
        width: 50%;
        flex-grow: 1;
        position: relative;
    }
}
