@use '@/styles/colors';
@use '@/styles/mixins';

.content {
  position: relative;
  display: flex;
}

.container {
  max-width: 50rem;
  margin-right: auto;
  position: relative;
  padding: 12rem 0;
  z-index: 1;
}

.socialIcon {
  color: colors.getColor('primary', 800);
}

%assetFrame {
  position: absolute;
  overflow: visible;
  z-index: 0;
  margin: 0;
  max-height: 0;
  max-width: 0;
  inset: 0;
}

.mainAsset {
  @extend %assetFrame;
  top: 24rem;
  max-height: 100%;
  margin-left: auto;

  & img {
    position: relative;
    height: auto;
    width: 68rem;
    right: 16rem;
  }
}

.footerAsset {
  @extend %assetFrame;
  top: 100%;

  & img {
    position: relative;
    left: -14.5rem;
    height: auto;
    width: 40rem;
  }
}

.boat1 {
  @extend %assetFrame;
  z-index: 1;
  top: 88%;

  & img {
    position: relative;
    height: auto;
    width: 7.5rem;
    left: 50rem;
  }
}

.boat2 {
  @extend %assetFrame;
  z-index: 1;
  top: 114%;

  & img {
    position: relative;
    height: auto;
    width: 10.5rem;
  }
}