@use '@/styles/colors';

.container {
  width: 60rem;
}

.list {
  overflow: hidden;
  flex-grow: 1;
  width: 1px;
  padding: 0;
  margin: 0;
}

.control {
  align-items: center;
  aspect-ratio: unset;
  height: 12rem;
  display: flex;
  padding: 0;

  span {
    font-size: 3rem;
  }
}

.item {
  min-width: 100%;
}

.image {
  border-radius: 99999rem;
  aspect-ratio: 1;
  height: 16rem;
  width: 16rem;
}

.label {
  margin: 0;
}

%quote {
  line-height: 1;
}

.quoteL {
  @extend %quote;
  margin-bottom: auto;
}

.quoteR {
  @extend %quote;
  transform: rotate(180deg);
  transform-origin: center;
  margin-top: auto;
}
