@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.container {
  width: 50rem;
}

@include mixins.media(tablet) {
  .container {
    width: 100%;
  }
  .quote {
    flex-direction: column !important;
  }
  .item {
    flex-direction: column !important;
  }
}

.list {
  overflow: hidden;
  flex-grow: 1;
  width: 1px;
  padding: 0;
  margin: 0;
}

.control {
  align-items: center;
  aspect-ratio: unset;
  height: 12rem;
  display: flex;
  padding: 0 !important;

  span {
    font-size: 3rem;
  }
}

.item {
  min-width: 100%;
  flex-direction: row;
}

.image {
  border-radius: 99999rem;
  aspect-ratio: 1;
  height: 16rem;
  width: 16rem;
}

.label {
  margin: 0;
}

%quote {
  line-height: 1;
}

.quote {
  flex-direction: row;
}

.quoteL {
  @extend %quote;
  margin-bottom: auto;
}

.quoteR {
  @extend %quote;
  transform: rotate(180deg);
  transform-origin: center;
  margin-top: auto;
}
