$media: (
  mobile: 425px,
  tablet: 820px,
  laptop: 1024px,
);

$speeds: (
  fast: 150ms,
  normal: 250ms,
  slow: 350ms,
);

$spacing: (
  2x-sm: 0.25rem,
  x-sm: 0.5rem,
  sm: 0.75rem,
  m: 1rem,
  big: 1.25rem,
  x-big: 1.5rem,
  2x-big: 1.75rem,
  3x-big: 2rem,
  4x-big: 2.25rem,
  lg: 2.5rem,
  x-lg: 3rem,
  2x-lg: 4rem,
  3x-lg: 5rem,
  huge: 6rem,
  x-huge: 8rem
);
