@use '../styles/colors';
@use '../styles/fonts';

html,
body {
  background-color: colors.getColor(secondary, 50);
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  z-index: 1;
}

html {
  @include fonts.init;
}

:root {
  @include colors.init;
}

.hidden {
  top: -99999rem;
  left: -99999rem;
  position: fixed;
  overflow: hidden;
  width: 0;
  height: 0;
}
