@use '@/styles/mixins';
@use '@/styles/colors';

.container {
  // One off color for matching sea bed
  background-color: #33617a;
}

.content {
  padding: mixins.spacing(lg) 0 mixins.spacing(3x-big);
}

.links {
  row-gap: mixins.spacing(sm) !important;
}

.link {
  padding: 0 !important;
}

.social {
  padding: 0 !important;
}
