@use '../../styles/mixins';
@use '../../styles/colors';

.container {
  background-color: colors.getColor(secondary, 50);
  position: sticky;
  top: 0;
}

.nav {
  padding: mixins.spacing(x-big) 0;
}

.banner {
  margin: -1 * mixins.spacing(x-big) 0 auto;
  overflow-y: visible;
  height: 1px;
}
