@use '../../../../styles/colors';
@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

// text
.header {
  // padding-left: 10%;
  max-width: 100%;
}

.highlight_bold {
  color: colors.getColor(warning, 400);
  font-weight: 800;
  font-size: 3rem;
}

.highlight {
  color: colors.getColor(warning, 400);
}

.img_container {
  position: relative;
  text-align: center;
}

%stats {
  position: absolute;
  width: 10rem;
}

.hackers {
  @extend %stats;
  top: 43%;
  left: 37%;
  animation: bubbleLeftTextBob 9s infinite;
}

.projects {
  @extend %stats;
  top: 55%;
  left: 68.5%;
  animation: bubbleLeftTextBob 9s infinite;
}

.mentors {
  @extend %stats;
  top: 37%;
  left: 18.5%;
  animation: bubbleRightTextBob 9.5s infinite;
}

.prizes {
  @extend %stats;
  top: 34%;
  left: 48%;
  width: 9rem;
  animation: bubbleRightTextBob 9.5s infinite;
}

.schools {
  @extend %stats;
  top: 55%;
  left: 78%;
  animation: bubbleRightTextBob 9.5s infinite;
}

// bubble images
.top_bubble {
  height: 6rem;
  width: 6rem;
  padding: 1rem 14%;
  animation: bubbleTopBob 4s infinite;
}

@include mixins.media(tablet) {
  .bubbles_left,
  .bubbles_right {
    height: 18rem !important;
    width: auto;
  }
  .highlight_bold {
    font-size: 2rem;
    line-height: 1;
  }
  .subtitle {
    font-size: 1.25rem;
    line-height: 1;
  }
}

.bubbles_left,
.bubbles_right {
  height: 27rem;
  width: auto;
}

.bubbles_left {
  animation: bubbleLeftBob 9s infinite;
}

.bubbles_right {
  animation: bubbleRightBob 9.5s infinite;
}

.bubbles_bottom {
  object-fit: cover;
  height: 9.5rem;
  width: 40rem;
  align-self: center;
  animation: bubbleBottomBob 7s infinite;
}

@keyframes bubbleTopBob {
  0%{
		transform: translateY(0vw) rotate(0deg);
	}

	50%{
		transform: translateY(1.8vw) rotate(1deg);
	}

	100%{
		transform: translateY(0vw) rotate(0deg);
	}
}

@keyframes bubbleBottomBob {
  0%{
		transform: translateY(0vw) rotate(0deg);
	}

	50%{
		transform: translateY(1.5vw) rotate(-2deg);
	}

	100%{
		transform: translateY(0vw) rotate(0deg);
	}
}

@keyframes bubbleLeftBob {
  0%{
		transform: translateY(0.5vw) rotate(0deg);
	}

	50%{
		transform: translateY(-0.8vw) rotate(-0.7deg);
	}

	100%{
		transform: translateY(0.5vw) rotate(0deg);
	}
}

@keyframes bubbleLeftTextBob {
  0%{
		transform: translateY(0.35vw) rotate(0deg) translate(-50%, -50%);
	}

	50%{
		transform: translateY(-0.65vw) rotate(-0.4deg) translate(-50%, -50%);
	}

	100%{
		transform: translateY(0.35vw) rotate(0deg) translate(-50%, -50%);
	}
}

@keyframes bubbleRightBob {
  0%{
		transform: translateY(-1.4vw) rotate(0deg);
	}

	50%{
		transform: translateY(1.2vw) rotate(0.5deg);
	}

	100%{
		transform: translateY(-1.4vw) rotate(0deg);
	}
}

@keyframes bubbleRightTextBob {
  0%{
		transform: translateY(-1.2vw) rotate(0deg) translate(-50%, -50%);
	}

	50%{
		transform: translateY(1.0vw) rotate(0.2deg) translate(-50%, -50%);
	}

	100%{
		transform: translateY(-1.2vw) rotate(0deg) translate(-50%, -50%);
	}
}