@use '../../../../styles/colors';
@use '../../../../styles/mixins';

.content {
    display:flex;
    flex-wrap:wrap;
    padding: 8rem 0;
}

.header {
    padding-left: 10rem;
}

.highlight_bold {
    color: colors.getColor(warning, 400);
    font-weight: 800;
    font-size: 3rem;
}

.highlight {
    color: colors.getColor(warning, 400);
}

.img_container {
    position: relative;
    text-align: center;
}

%stats {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10rem;
}

.hackers {
    @extend %stats;
    top: 43%;
    left: 37%;
}

.projects {
    @extend %stats;
    top: 55%;
    left: 68.5%;
}

.mentors {
    @extend %stats;
    top: 37%;
    left: 18.5%;
}

.prizes {
    @extend %stats;
    top: 34%;
    left: 48%;
    width: 9rem;
}

.schools {
    @extend %stats;
    top: 55%;
    left: 78%;
}

.top_bubble{
    height: 6rem;
    width: 6rem;
    padding: 1rem 14rem;
}

%assets {
    height: 27rem;
    width: auto;
}

.bubbles_left, .bubbles_right{
    @extend %assets;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}