@use '../../../styles/colors';

.faq {
  margin-top: 10rem;
}

.buttonsContainer {
  margin: 4rem 0;
}

.buttons {
  background-color: colors.getColor('primary');
  border-radius: 32px;

  button {
    &:not(:first-child) {
      margin-left: 4rem;
    }
  }
}

.questions {
  max-width: 872px;
  margin: 0 auto;
}
