@use '../../../styles/colors';

.faq {
  margin-top: 10rem;
}

.buttonsContainer {
  margin: 48px 0;
}

.buttons {
  background-color: #00948c; // idk how to use the color vars
  border-radius: 32px;

  button {

    &:not(:first-child) {
      margin-left: 48px;
    }
  }
}

.questions {
  max-width: 872px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .question {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}