@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.container {
  max-width: 60rem;
  margin-top: 10rem;
  position: relative;
}

.buttons {
  background-color: colors.getColor('primary', 500);
  border-radius: 99999rem;
}

@include mixins.media(mobile) {
  .buttons {
    flex-direction: column;
    gap: 0.25rem;
    border-radius: 1rem;
    padding: 0.5rem;
  }

  .fish1, .fish2 {
    animation: fishPhoneMove 15s infinite !important;
  }

  .fishWaddle {
    animation: fishWaddle 0.5s infinite !important;
  }
}

.item {
  margin-bottom: 0.5rem;
}

%assets {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  inset: 0;
  margin: 0;
}

.fish1 {
  @extend %assets;
  height: auto;
  width: 4rem;
  top: 10rem;
  left: -8rem;
  animation: fishMove 39.8s infinite;
}


.fish2 {
  @extend %assets;
  height: auto;
  width: 4rem;
  top: 17rem;
  left: -7rem;
  animation: fishMove 39s infinite;
}

@keyframes fishPhoneMove {
  0% {
    transform: translateX(0vw) translate(200%, 250%);
  }
  49.99999999999999% {
    transform: translateX(70vw) translate(200%, 250%);
  }
  50% {
    transform: scaleX(-1) translateX(-70vw) translate(-200%, 250%);
  }
  100% {
    transform: scaleX(-1) translateX(0vw) translate(-200%, 250%);
  }
}

@keyframes fishMove {
  0% {
    transform: translateX(0vw);
  }
  49.99999999999999% {
    transform: translateX(85vw);
  }
  50% {
    transform: scaleX(-1) translateX(-85vw);
  }
  100% {
    transform: scaleX(-1) translateX(0vw);
  }
}

.fishWaddle {
  @extend %assets;
  animation: fishWaddle 1s infinite;
}

@keyframes fishWaddle {
  0%{
		transform: rotateY(0deg) rotateY(0deg);
	}

	50%{
		transform: perspective(1000px) rotateY(2deg);
	}

	100%{
		transform: rotateY(0deg) rotateY(0deg);
	}
}
