@use '../../../styles/colors';
@use '../../../styles/mixins';

.frame {
    background-color: colors.getColor(secondary, 50);
  }

  .container {
    margin-right: auto;
    position: relative;
    padding: 12rem 0;
    z-index: 1;
  }
  
  .yellow {
    color: colors.getColor(warning, 400);
  }

  
  .years{
   
    position: relative;
    inset: 0;
    margin: 0;
    height: auto;
    transition: transform 0.3s;
   
  }

  .years:hover{
    transform: scale(1.5);
  }

  .imageContainer {
    position: relative;
}

.tvContainer {
  display: flex;
  position: relative;
  width: 80%; 
  height: auto; 
  margin-left: auto; 
}

.tv {
  z-index: 1;
  width: 100%;
  height: auto;
}

.overlay {
  z-index: 2;
  position: absolute;
  top: 20rem;
  left: 8.4375rem; 
}

.overlayImage {
  width: 33.792rem;
  height: 24.72rem;
}

