@use '@/styles/colors';
@use '@/styles/mixins';

.frame {
  background-color: colors.getColor(secondary, 50);
}

.container {
  margin-right: auto;
  position: relative;
  padding: 12rem 0;
  z-index: 1;
}

.yellow {
  color: colors.getColor(warning, 400);
}

//
