@use '../../../styles/colors';
@use '../../../styles/mixins';

.frame {
    background-color: colors.getColor(secondary, 50);
  }

  .container {
    margin-right: auto;
    position: relative;
    padding: 12rem 0;
    z-index: 1;
  }
  
  .yellow {
    color: colors.getColor(warning, 400);
  }

  
  .years{
   
    position: relative;
    inset: 0;
    margin: 0;
    height: auto;
    transition: transform 0.3s;
   
  }

  .years:hover{
    transform: scale(1.5);
  }

  .imageContainer {
    position: relative;
}


  .tv{
    position: relative;
    right: 0;
    z-index: 1;
  }

  .notepad{
    position: relative;
    margin-top: -20rem; 
    margin-right: 100rem; 
    z-index: 0;
  }